.editor-container {
    position: relative;
    padding: 0 10% 0 10%;

    .heading {
        position: relative;

        .username {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    .question-list {
        list-style: none;
        

        li {
            white-space: pre;
            display: flex;
            justify-content: space-between;

            cursor: pointer;
            padding: 2px    ;
        }
        li:hover {
            background-color: lightgray;
        }
    }

    .question-container {
        border: 1px solid black;
        padding: 20px;

        p {
            margin: 0;
        }

        div.line {
            width: 100%;
            border-bottom: 1px solid black;
        }
    }

    .output {
        margin-bottom: 150px;
    }

    .ai-answer-box {
        border: 1px solid black;
        min-height: 300px;
        margin-bottom: 50px;
        margin-top: 20px;
        padding: 10px;
    }

    .pd-0 {
        padding: 0;
    }

    button {
        transition: background-color 0.2s ease-in-out;
    }
    
    button:hover {
        background-color: lightgray;
    }

    .page-item {
        cursor: pointer;

        .Easy {
            color: #1CBABA;
        }

        .Medium {
            color:#FFB700;
        }

        .Hard {
            color: #F63737;
        }

        input {
            width: 80px;
        }
    }

    .disabled {
        cursor: unset;
    }

    .session-form {
        border: 1px solid black;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
        background-color: white;   
        padding: 50px;
        z-index: 100;
    }
}